header {
	font-size: 52pt;
	font-family: Arial, sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
	text-shadow: 0 -1px 0 rgba(0, 0, ,0.25);
	color: rgba(250, 250, 250, .9);
}

#selfp {
	height: 150px;
	width: 150px;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}